---
import CodeIcon from "./icons/CodeIcon.astro"
import SlidersIcon from "./icons/SlidersIcon.astro"
import FileIcon from "./icons/FileIcon.astro"
import Tooltip from "./ui/Tooltip.astro"
import Popover from "./ui/Popover.astro"

interface Props {
  name: string
  title: string
  controls?: Record<string, string | number | boolean>
}

const { name, title, controls } = Astro.props
const zagUrl = `https://zagjs.com/components/react/${name}`
const codeUrl = `https://github.com/TunkShif/alpine-zag/blob/main/doc/src/components/demo/${name}.astro`

const initialContext = controls ? JSON.stringify({ controls }) : ""

const icon = "bg-slate-50/20 hover:bg-slate-50/25 p-2 text-slate-100 rounded-md"
---

<div class="demo-card-bg flex flex-col h-96 rounded-md shadow-sm" x-data={initialContext}>
  <div class="bg-slate-950/40 h-14 rounded-t-md">
    <div class="h-full px-4 py-2 flex items-center justify-between">
      <button x-on:click="$el.scrollIntoView({ behavior: 'smooth' })">
        <h3 class="text-slate-50 font-semibold">{title}</h3>
      </button>
      <div class="flex items-center gap-2.5">
        <Tooltip>
          <a slot="trigger" class={icon} href={codeUrl} target="_blank">
            <CodeIcon class="w-5 h-5" />
          </a>
          <span slot="content">View Code</span>
        </Tooltip>

        <Tooltip>
          <a slot="trigger" class={icon} href={zagUrl} target="_blank">
            <FileIcon class="w-5 h-5" />
          </a>
          <span slot="content">View Zag References</span>
        </Tooltip>

        <Popover>
          <Tooltip slot="trigger">
            <button slot="trigger" class={icon} type="button">
              <SlidersIcon class="w-5 h-5" />
            </button>
            <span slot="content">View Component Properties</span>
          </Tooltip>
          <span slot="title">Properties</span>
          <div slot="content" class="relative flex">
            <slot name="control" />
          </div>
        </Popover>
      </div>
    </div>
  </div>

  <div class="grid w-full h-full place-content-center place-items-center overflow-auto">
    <slot name="content" />
  </div>
</div>

<style>
  .demo-card-bg {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
</style>
